
.navbar-links {
  display: flex;
  gap: 1.2rem;
}

.page-container {
  width: 100%;
  padding: 0;
  margin: 0;
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }
}
