@import "./../styles/themes.css";

.product-card {
  background: var(--bg-card);
  border-radius: var(--radius);
  padding: 20px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  transition: 0.25s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--primary-glow);
}

.product-title {
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
}

.product-price {
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
}
